<div class="wrapper">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" class="navbar-brand"}}
                {{applicationName}}
            {{/link-to}}    
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav search-lockup">
                <li class="search-group">
                    {{input action="submit" type="text" class="search-input" placeholder="Search for artists or song names" valueBinding="controller.searchTerms"}}
                    <button {{action "submit"}} class="btn btn-primary">
                        <i class="glyphicon glyphicon-play"></i>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'activity'}}Activity{{/link-to}}</li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row-fluid">
            {{outlet}} <!-- search results, index.hbs -->
        </div>
    </div>
</div>
<footer>
    <p>Created by Jenny Olsen, based on <em>Building Web Apps with Ember.js</em></p>
</footer>